body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: red;
    height: 30px;
}
#title{
    /* position: relative; */
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #AA56FF;
    height: 50px;
    padding: 8px;
    font-weight: bold;
}
#section1{
    border: 4px solid #FFADD6;
    border-radius: 10px;
    width: 90%;
    height: 508px;
    position: relative;
    /* top: 30px; */
    /* margin-left: 10px; */
    left: 70px;
    /* right: 50px; */
}
.droit{
    position: relative;
    left: 24.6%;
    width: 909px;
    height: 500px;
    /* background-color: red; */
    border-radius: 10px;
}
.gauche{
    position: relative;
    /* left: 2%; */
    width: 300px;
    height: 500px;
    top: -500px;
    border-radius: 6px;
    background-color: #d9d9d97c
}
#bar_haut{
    width: 280px;
    height: 30px;
    background-color: #ee68ab;
    border-radius: 5px;
    position: relative;
    top: -185%;
    left: 10px;
}
#bar_bas{
    width: 280px;
    height: 30px;
    background-color: #ee68ab;
    border-radius: 5px;
    position: relative;
    top: -135%;
    left: 10px;
}
.icones{
    width: 40px;
    height: 50px;
    margin-left: 40px;
    margin-top: 30px;
}
#message_tchat{
    margin-top: 30%;
    margin-left: 20px;
    height: 30px;
}
.text_images{
    font-size: 8px;
    font-weight: bold;
}
.logo{
    margin-left: 720px;
    width: 20%;
    height: 20%;
}
.defiler{
    color: #4f0c92;
    font-size: 20px;
    font-weight: bold;
}
/* debut visioconference */
#planif{
    width: 300px;
    height: 120px;
    background-color: #FFADD6;
    margin-left: 130px;
    margin-block-end: 50px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}
#demarer{
    width: 300px;
    height: 120px;
    /* background-color: #FFADD6; */
    border: 4px solid #ad1762;
    margin-left: 130px;
    border-radius: 5px;
    color: #ad1762;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}
#inviter{
    width: 300px;
    height: 120px;
    /* background-color: #4f0c92; */
    border: 4px solid #4f0c92;
    margin-left: 55%;
    margin-top: -31.5%;
    margin-block-end: 50px;
    border-radius: 5px;
    color: #4f0c92;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}
#accueil{
    width: 300px;
    height: 120px;
    background-color: #AA56FF;
    margin-left: 55%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}
.droit a{
    text-decoration: none;
}
/* debut reunion en cours */
.corps{
    margin-left: 25%;
    /* padding-top: 40px; */
    border: 2px solid #ee68ab;
}
#titre_reunion{
    color: white;
    height: 50px;
    padding-top: 7px;
    font-size: 20px;
    font-weight: bold;
    background-color: #AA56FF;
}
.logo2{
    width: 30%;
    height: 20%;
    /* margin-top: -50px; */
}
.btn_cours{
    background-color: #D9D9D9;
    color: #ad1762;
    font-size: 15px;
    font-weight: bold;
    margin-left: 45%;
    /* padding-top: -50px; */
    width: 100px;
    border-radius: 3px;
    border: 0;
}
.btn_terminer{
    background-color: #D9D9D9;
    color: #ad1762;
    font-size: 15px;
    font-weight: bold;
    margin-left: 75%;
    width: 100px;
    border-radius: 3px;
    border: 0;
}
.img_video{
    width: 200px;
    height: 120px;
    margin-left: 35px;
    border-radius: 5px;
    margin-top: -20px;
}
.panel{
    background-color: #d9d9d971;
    padding-bottom: 30px;
}
#message{
    margin-top: 10px;
    margin-left: 20px;
    
}
.mess{
    margin-left: 20px;
    color: #ad1762;
    font-size: 20px;
    font-weight: bold;
}
/* la liste des membres */
#titre_liste{
    color: white;
    height: 50px;
    padding-top: 7px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFADD6;
}
.liste_membre{
    font-size: 15px;
    font-weight: bold;
    margin-left: 50px;
}
.btn_liste{
    background-color: #FFADD6;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-left: 75%;
    width: 100px;
    border-radius: 8px;
    border: 0;
}
.checkbox{
    margin-left: 60%;
}
.li_membre{
    margin-block-end: 20px;
}