
style {
    box-sizing: border-box;
  }
  body {
    font-size: 10px;
  }
  .v8_2 {
    width: 590px;
    height: 500px;

    
    background: rgba(169,85,255,0.7799999713897705);
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 50px;
    left:  400px; 
    overflow: hidden;
  }
  .v8_53 {
    width: 93px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 293px;
    left: 50px; 
    font-family: Inter;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
  .v74_455 {
    width: 53px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 363px;
    left: 50px; 
    font-family: Inter;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
  .v8_23 {
    width: 212px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 225px;
    left: 50px; 
    font-family: Inter;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
  .v38_407 {
    width: 222px;
    height: 39px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 290px;
    left: 300px;
    overflow: hidden;
  }
  .v38_408 {
    width: 205px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 23px;
    left: 180px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: center;
  }
  .v102_422 {
    width: 95px;
    height: 38px;
    background: url("../img/logo.png" );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 143px;
    left: 345px;
    overflow: hidden;
  }
  .v102_424 {
    width: 24px;
    height: 27px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 105px;
    left: 300px;
    border-radius: 50%;
    transform: rotate(-89deg);
  }
  .v102_425 {
    width: 26px;
    height: 23px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 156px;
    left: 300px;
    border-radius: 50%;
    
  }
  .v186_593 {
    width: 222px;
    height: 39px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 356px;
    left: 301px;
    overflow: hidden;
  }
  .v102_426 {
    width: 89px;
    height: 40px;
    background: url("../img/logo1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 93px;
    left: 347px;
    overflow: hidden;
  }
  .v102_428 {
    width: 30px;
    height: 32px;
    background: url("../img/date.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 359px;
    left: 486px;
    overflow: hidden;
  }
  .v118_408 {
    width: 276px;
    height: 59px;
    background: rgb(229, 226, 226);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 144px;
    overflow: hidden;
  }
  .v186_592 {
    width: 222px;
    height: 39px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 220px;
    left: 300px;
    overflow: hidden;
  }
  .v186_595 {
    width: 77px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 301px;
    left: 350px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  
  .v118_409 {
    width: 35px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 5px;
    left: 563px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 25px;
    opacity: 0.800000011920929;
    text-align: left;
  }
  .v186_598 {
    width: 91px;
    height: 31px;
    background: rgba(222,143,200,1);
    opacity: 1;
    position: absolute;
    top: 446px;
    left: 120px;
    overflow: hidden;
  }
  .v186_599 {
    width: 63px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 453px;
    left: 138px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v186_601 {
    width: 91px;
    height: 31px;
    background: rgba(222,143,200,1);
    opacity: 1;
    position: absolute;
    top: 445px;
    left: 397px;
    overflow: hidden;
  }
  .v186_602 {
    width: 56px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 447px;
    left: 415px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v184_602 {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    
    top: 235px;
    left: 345px;

    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v186_597 {
    width: 80px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 375px;
    left: 345px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: rgb(0, 0, 0);
  }
  .v238_592 {
    width: 207px;
    color: rgba(255,255,255,1);
    position: absolute;
    /* margin: auto; */
    top: 137px;
     left: 50px; 
    font-family: Inter;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
/* mois */
  style{
    box-sizing: border-box;
  }
 
  
  body {
    font-size: 150px;
  }
  .v74_408 {
    width: 300px;
    height: 1076px;
    background: url("../images/v74_408.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 1100px;
    overflow: hidden;
  }
  .v74_409 {
      width: 600px;
      height: 930px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v74_410 {
    width: 42px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: -5px;
    left: 17px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v74_411 {
    width: 35px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 80px;
    left: 19px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v74_412 {
    width: 28px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 160px;
    left: 19px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v74_413 {
    width: 34px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 240px;
    left: 19px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v74_414 {
    width: 23px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 320px;
    left: 19px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v74_415 {
    width: 59px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 390px;
    left: 19px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v74_416 {
    width: 59px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 465px;
    left: 19px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v74_417 {
    width: 46px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 540px;
    left: 19px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v74_418 {
    width: 63px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 615px;
    left: 19px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v74_419 {
    width: 27px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 695px;
    left: 19px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v74_420 {
    width: 20px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 770px;
    left: 19px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .v74_421 {
    width: 24px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 840px;
    left: 19px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  #mois{
    display: none;
  }
  